<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tranducphuong.quanlychitieucanhan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" />
        <activity android:name=".Signin" />
        <activity android:name=".TongQuan" />
        <activity android:name=".Test_ExpandableListView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsScreen" />
        <activity android:name=".spinner_test" />
        <activity android:name=".Activity_ThemKhoanThu" />
        <activity android:name=".TrangThem_Chinh" />
        <activity android:name=".ThuTien" />
        <activity android:name=".ChiTien" />
        <activity android:name=".LoaiTienTe" />
        <activity android:name=".TaiKhoan_SD"></activity>
    </application>

</manifest>